@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto+Mono:wght@100&display=swap');

* {
margin: 0;
padding: 0;
border: none;
}

body {
    font-family: Cinzel;
    font-weight: 500;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Roboto+Mono;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navifation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 150px; 
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* images and leyout */

.container {
    width: 100%
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.3%;
}

.col-half {
    width: 50%;
}

.amira {
    width: 45%;
    height: auto;
}

.site-header {
    margin-left: 2rem;
}

.section-header {
    text-align: center;
    padding: 2rem 0;
}

@media screen and (max-width) {
    .col-third,
    .col-half {
        width:100%;
    }
}

