@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto+Mono:wght@100&display=swap');

* {
margin: 0;
padding: 0;
border: none;
}

body {
    font-family: Cinzel;
    font-weight: 300;
}